:root {
  margin: 0;
  padding: 0;
  font: 16px, sans-serif;
  box-sizing: border-box;
  --borderColor: rgba(207, 207, 207, 0.5);
}
#map {
  width: 100vw;
  height: 100vh;
}
.dialog {
  width: 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: white;
  padding-top: 1rem;
  padding-bottom: 1rem;
  z-index: 100;
}
.dialog-feed {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  max-height: 100px;
  height: 100px;
  width: 90%;
  overflow-y: scroll;
  overflow-x: hidden;
  border: 1px solid var(--borderColor);
}
.dialog-feed__item {
  padding: 0.1rem;
  margin-inline: 1rem;
  margin-top: 0.5rem;
  width: 90%;
  font-size: 1rem;
  font-weight: 100;
  line-height: 1.5rem;
  /* max-height: 100px;
  overflow-y: scroll;
  overflow-x: hidden; */
}
.dialog-feed__item header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-inline: 0.25rem;
  border-bottom: 1px solid var(--borderColor);
}
.item-name {
  font-size: 1.2rem;
  font-weight: 600;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.item-place {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.item-feed {
}
.dialog-header {
  width: 90%;
  height: 2rem;
  display: flex;
  flex-direction: row;
  padding-inline: 1rem;
  justify-content: space-between;
  align-items: center;
}
.dialog-header h2 {
  font-family: "Arial";
  font-style: normal;
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.1rem;
  color: black;
}

.dialog-form {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 1rem;
}

.dialog-form .input-text {
  font-size: 0.9rem;
  line-height: 2rem;
  width: 310px;
  background: #ffffff;
  border: 1px solid rgba(207, 207, 207, 1);
  border-radius: 3px;
  margin-top: 10px;
}
.dialog-form .input-text:hover {
  border: 1px solid rgba(19, 113, 200, 1);
}
.dialog-form .input-text::placeholder {
  color: rgb(100, 100, 100);
}
.dialog-text__feed {
  height: 6rem;
}

.dialog-submit {
  margin-top: 19px;
  margin-bottom: 0.5rem;
  width: 30%;
  height: 38px;
  border: none;
  background: #ff8663;
  color: white;
  border-radius: 3px;
  font-size: 1rem;
  line-height: 2rem;
  cursor: pointer;
  transition: all 100ms ease-in;
}
.dialog-submit:hover {
  transform: scale(1.01);
  box-shadow: 0 0 0.5rem rgb(208, 208, 208);
}
